

<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <app-saldo></app-saldo>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">

        <div class="card">
             <button  class="btn-lg btn-primary" (click)="openModal(deposito);">Novo Deposito</button>
        </div>
       
    </div>


    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Depositos</h4>
                    <h6 class="card-subtitle">Estado de depositos</h6>
                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-inverse card-info">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white">2,064</h1>
                                    <h6 class="text-white">Depositos</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                          <div class="card card-primary card-inverse">
                              <div class="box text-center">
                                  <h1 class="font-light text-white">1,738</h1>
                                  <h6 class="text-white">Aceitos</h6>
                              </div>
                          </div>
                      </div>
                      <!-- Column --><!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                          <div class="card card-danger card-inverse">
                              <div class="box text-center">
                                  <h1 class="font-light text-white">1,738</h1>
                                  <h6 class="text-white">Rejeitados</h6>
                              </div>
                          </div>
                      </div>
                      <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-inverse card-dark">
                                <div class="box text-center">
                                    <h1 class="font-light text-white">1100</h1>
                                    <h6 class="text-white">Pendentes</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Valor</th>
                                    <th>Codigo da transação</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ticketAbertos">
                                    <td>{{item.id}}</td>
                                    <td>{{item.assunto}}</td>
                                    <td>{{item.data | date:'M/d/yy'}}</td>
                                    <td>
                                        <button type="button" (click)="OpenModalDel(deleteticket, item)" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
            
                            </tbody>
 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>



<ng-template #deposito let-c="close" let-d="dismiss">
    <div class="modal-header">
            <h2 class="modal-title">Deposito</h2>
    </div>


<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                    <div *ngIf="mensagem">
                            <ngb-alert [dismissible]="false">
                                    <strong>{{mensagem}}!</strong> 
                            </ngb-alert>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Valor*</label>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="saque.valor" name="valor" class="form-control" id="exampleInputuname" placeholder="Valor">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputuname">Codigo da transação BitCoin*</label>
                      <div class="input-group">
                          <input type="text" [(ngModel)]="saque.transacao" name="valor" class="form-control" id="exampleInputuname" placeholder="Codigo da transação Bitcoin">
                      </div>
                  </div>
                    <div class="form-group">
                        <label for="departamento">Forma de Pagamento:*</label>
                        <select [(ngModel)]="saque.pagamento" name="pagamento" class="form-control">
                            <option value="1" selected>Boleto</option>
                            <option value="2">Deposito</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Comprovante:*</label>
                        <input type="file" name="pic" accept="image/*">
                        </div>
                    
            </div>
        </div>
    </div>
    
  </div>
  <!-- Row -->
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="enviar(tickets)">Enviar</button>
</div>


</ng-template>


