

<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <app-saldo></app-saldo>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">

        <div class="card">
             <button  class="btn-lg btn-primary" (click)="openModal(ticket);">Novo ticket</button>
        </div>
       
    </div>


    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Support Ticket List</h4>
                    <h6 class="card-subtitle">List of ticket opend by customers</h6>
                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-4 col-xlg-4">
                            <div class="card card-inverse card-info">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white">{{count.total}}</h1>
                                    <h6 class="text-white">Total de Tickets</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-4 col-xlg-4">
                            <div class="card card-success card-inverse">
                                <div class="box text-center">
                                    <h1 class="font-light text-white">{{count.resolvidos}}</h1>
                                    <h6 class="text-white">Resolvidos</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-4 col-xlg-4">
                            <div class="card card-inverse card-danger">
                                <div class="box text-center">
                                    <h1 class="font-light text-white">{{count.pendentes}}</h1>
                                    <h6 class="text-white">Pendentes</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Assunto</th>
                                    <th>Data</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ticketAbertos">
                                    <td>{{item.id}}</td>
                                    <td>{{item.assunto}}</td>
                                    <td>{{item.data | date:'d/M/yyyy'}}</td>
                                    <td>
                                        <button type="button" (click)="OpenModalDel(deleteticket, item)" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
            
                            </tbody>
 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>



<ng-template #ticket let-c="close" let-d="dismiss">
    <div class="modal-header">
            <h2 class="modal-title">Novo Ticket</h2>
    </div>


<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                    <div *ngIf="mensagem">
                            <ngb-alert [dismissible]="false">
                                    <strong>{{mensagem}}!</strong> 
                            </ngb-alert>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Assunto*</label>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="tickets.assunto" name="assunto" class="form-control" id="exampleInputuname" placeholder="Assunto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Departamento:*</label>
                        <select [(ngModel)]="tickets.departamento" name="departamento" class="form-control">
                            <option value="1" selected>Suporte</option>
                            <option value="2">Reporte</option>
                            <option value="3">Saques e depositos</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="prioridade">Prioridade:*</label>
                                      <select [(ngModel)]="tickets.prioridade" name="prioridade" class="form-control">
                                        <option value="1" selected>Baixa</option>
                                        <option value="2">Media</option>
                                        <option value="3">Alta</option>
                                        <option value="4">Muito Alta</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="mensagem">Mensagem:*</label>
                        <textarea [(ngModel)]="tickets.mensagem" name="mensagem" class="form-control" rows="8" id="comment" placeholder="Mensagem*"></textarea>
                    </div>
                    
            </div>
        </div>
    </div>
    
  </div>
  <!-- Row -->
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="enviar(tickets)">Enviar</button>
</div>


</ng-template>



<ng-template #deleteticket let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h2 class="modal-title">Confimar exclusão</h2>
        </div>
    
    
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Deseja realmente excluir o TiCKET?</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
            <button type="button" class="btn" (click)="c('Close click')">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="deleteTicketID(); c('Close click')">Confirmar</button>
        </div>
        
</ng-template>