<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material" id="loginform" action="index.html">
        <a href="javascript:void(0)" class="text-center db">
          <img src="../assets/images/logo-icon.png" alt="Home" />
          <br/>
          <img src="../assets/images/logo-text.png" alt="Home" />
        </a>

        <div class="form-group m-t-40">
            <div *ngIf="mensagemError">
                <ngb-alert [dismissible]="false">
                        <strong>{{mensagemError}}!</strong> 
                </ngb-alert>
        </div>
          <div class="col-xs-12">
            <input class="form-control" [(ngModel)]="dadoslogin.login" name="login" type="text" required="" placeholder="Usuario">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" [(ngModel)]="dadoslogin.senha" name="senha" type="password" required="" placeholder="Senha">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary pull-left p-t-0">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> Remember me </label>
            </div>
            <a href="javascript:void(0)" id="to-recover" class="text-dark pull-right">
              <i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button (click)="logar()"  class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social">
              <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook">
                <i aria-hidden="true" class="fa fa-facebook"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google">
                <i aria-hidden="true" class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Não tem uma conta? 
              <a (click)="openModal(modalCadastro)" class="text-primary m-l-5">
                <b>Cadastre-se</b>
              </a>
            </p>
          </div>
        </div>
      </form>
      <form class="form-horizontal" id="recoverform">
        <div class="form-group ">
          <div class="col-xs-12">
            <h3>Recuperar Senha</h3>
            <div *ngIf="mensagemErrorCadastro">
                <ngb-alert [dismissible]="false">
                        <strong>{{mensagemErrorCadastro}}!</strong> 
                </ngb-alert>
        </div>
        <div *ngIf="mensagemSucessCadastro">
                <ngb-alert type="success" [dismissible]="false">
                        <strong>{{mensagemSucessCadastro}}!</strong> 
                </ngb-alert>
         </div>
            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input [(ngModel)]="recuperar.email" name="email" class="form-control" type="text" required="" placeholder="Email">
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button (click)="recuperarSenha()" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" >Recuperar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>




      <!-- cadastrar -->
      <ng-template #modalCadastro let-c="close" let-d="dismiss">
          <div class="modal-header">
                  <h2 class="modal-title">Cadastro</h2>
                </div>
                <div class="texto2">
                  <div *ngIf="mensagemErrorCadastro">
                          <ngb-alert type="dark" [dismissible]="false">
                                  <strong>{{mensagemErrorCadastro}}!</strong> 
                          </ngb-alert>
                  </div>
                  <div *ngIf="mensagemSucessCadastro">
                          <ngb-alert type="dark" [dismissible]="false">
                                  <strong>{{mensagemSucessCadastro}}!</strong> 
                          </ngb-alert>
                   </div>
                <form> 
                    <input type="text" [(ngModel)]="cadastro.login" class="form-control"  name="login" placeholder="Nome de usuario" required="" style="margin-bottom:10px;"><br>
                    <input type="email" [(ngModel)]="cadastro.email" class="form-control"  name="email" placeholder="Email" required="" style="margin-bottom:10px;"><br>
                  <input type="password" [(ngModel)]="cadastro.senha" class="form-control"  name="senha" placeholder="Senha" required=""  style="margin-bottom:10px;"><br>
                  <input type="password" [(ngModel)]="cadastro.senha2" class="form-control"  name="senha" placeholder="Repetir Senha" required=""  style="margin-bottom:10px;"><br>
                        
                  <div style="margin-top:10px; float: right;">
                          <div class="form-group pull-right">
                                  <button type="button" class="btn" (click)="c('Close click')">Fechar</button>
                        
                                  <button type="submit" class="btn btn-primary btn-rounded" (click)="cadastrar()" >Cadastrar</button>
                                  
                          </div>
                          </div>
                  </form>

                  </div>


    </ng-template>