
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <app-saldo></app-saldo>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    

<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body" *ngFor="let item of dados">
              <h4 class="card-title" id="1">{{item.titulo}}</h4>
              <img src="{{item.img}}"><br><br>
              {{item.descricao}}
          </div>
      </div>
  </div>
</div>

</div>

</div>