<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <app-saldo></app-saldo>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div class="col-12 m-t-30" >
              <h4 class="m-b-0">Informações do time</h4>
              <h4><code>Nivel da equipe: {{informacoesTime.nivel}}</code></h4>
            </div>
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <h4 class="card-title">Força da equipe Titular</h4>
                  <p class="card-text" >
                    Defesa: {{informacoesTime.defesa}}<br>
                    Ataque: {{informacoesTime.ataque}}<br>
                    Resistência: {{informacoesTime.resistencia}}<br>
                </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-center">
                <div class="card-body">
                  <h4 class="card-title">Bonus de treinamento</h4>
                  <p class="card-text">
                      Defesa:  {{informacoesTime.treinamento_defesa}} <br>
                      Ataque: {{informacoesTime.treinamento_ataque}} <br>
                      Resistência: {{informacoesTime.treinamento_resistencia}} <br>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                  <div class="card-body">
                    <h4 class="card-title">Força maxima da Equipe</h4>
                    <p class="card-text">
                        Defesa: {{informacoesTime.defesa_maxima}}<br>
                        Ataque: {{informacoesTime.atk_maximo}}<br>
                        Resistência: {{informacoesTime.resistencia_maxima}}<br>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <!-- End Row -->
    <!-- Row -->
    <div class="row">
      <div class="col-12">
        <h4 class="d-inline">Escalação
          <a href="#code1" data-toggle="collapse">
            <i class="fa fa-code" data-toggle="tooltip" title="Get code"></i>
          </a>
        </h4>
        <p class="text-muted m-t-0">For the code click on above code icon</p>
        <div id="code1" class="collapse">
          <div class="highlight">
            <pre>
    <code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span> <span class="na">style=</span><span class="s">"width: 20rem;"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"card-img-top"</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"Card image cap"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-body"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Card title<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-text"</span><span class="nt">&gt;</span>Some quick example text to build on the card title and make up the bulk of the card's content.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Go somewhere<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span></code>
</pre>
          </div>
        </div>
        <div>
            
            <button *ngIf="escalacao.length<11" class="btn-lg btn-primary" (click)="openModal(modalescalacao); mensagemError=''">Escalar Equipe</button>
            <div  *ngIf="escalacao.length>=11">
              <ngb-alert type="success" [dismissible]="false">
                  Equipe Escalada
              </ngb-alert>
            </div>
            <div  *ngIf="escalacao == ''">
                <br> 
                <ngb-alert type="success" [dismissible]="false">
                    Nenhum Jogador
                </ngb-alert>
                <br>
              </div>
              
          </div>
        <!-- Row -->
        <div class="row">
          <!-- column -->
          <div *ngFor="let card of escalacao;">
          <div class="col-md-2"  >
            <!-- Card -->
              <div class="plantel" style="background-image: url('/assets/images/cards/supremo.png');" >
                <img src="assets/images/cards/jogadores/{{card.id}}.png">
                DEF: {{card.defesa}}<br>        
                ATK: {{card.ataque}}<br>
                RES: {{card.resistencia}}<br>
                <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
                <div class="info">
                {{card.nome}}<br>
                <button class="btn btn-primary" (click)="removerEscalar(card); mensagemError = ''">Remover</button>
                </div>
            </div>
            <!-- Card -->
          </div>
        </div>
          <!-- column -->
          <!-- column -->
          
          <!-- column -->
        </div>
        <!-- Row -->
      </div>
    </div>
    <!-- End Row -->
    <div class="row">
      <div class="col-12">
        <h4 class="d-inline">Plantel
          <a href="#code1" data-toggle="collapse">
            <i class="fa fa-code" data-toggle="tooltip" title="Get code"></i>
          </a>
        </h4>
        <p class="text-muted m-t-0">For the code click on above code icon</p>
        <div id="code1" class="collapse">
          <div class="highlight">
            <pre>
    <code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card"</span> <span class="na">style=</span><span class="s">"width: 20rem;"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">class=</span><span class="s">"card-img-top"</span> <span class="na">src=</span><span class="s">"..."</span> <span class="na">alt=</span><span class="s">"Card image cap"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"card-body"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"card-title"</span><span class="nt">&gt;</span>Card title<span class="nt">&lt;/h4&gt;</span>
        <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">"card-text"</span><span class="nt">&gt;</span>Some quick example text to build on the card title and make up the bulk of the card's content.<span class="nt">&lt;/p&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"btn btn-primary"</span><span class="nt">&gt;</span>Go somewhere<span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span></code>
</pre>
          </div>
        </div>
        <div>
            
            <button *ngIf="plantel.length<22" class="btn-lg btn-success" (click)="openModal(modalPesquisarJogadores); mensagemError=''">Comprar</button><br>
            <div  *ngIf="plantel.length>=22">
                    <ngb-alert type="success" [dismissible]="false">
                        PLANTEL COMPLETO
                    </ngb-alert>
                    
            </div>
            <div  *ngIf="plantel==''">
              <br>
                <ngb-alert type="success" [dismissible]="false">
                    Nenhum Jogador
                </ngb-alert>
               <br>
              </div>
        </div>
        <!-- Row -->
        <div class="row">
          <!-- column -->
          <div *ngFor="let card of plantel">
              <div class="col-md-2"   >
            <!-- Card -->
            <div class="content2">
             
              <div class="plantel" style="background-image: url('/assets/images/cards/recordista.png');">
                <img src="assets/images/cards/jogadores/{{card.id}}.png">
         
                DEF: {{card.defesa}}<br>        
                ATK: {{card.ataque}}<br>
                RES: {{card.resistencia}}<br>
                <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
               
                <div class="info">
                {{card.nome}}<br>
                LTC: <font color="red">{{card.valor}}</font><br>
                <button class="btn btn-danger" (click)="openModalVenda(modalVenda, card); mensagemError = ''">Vender</button>
            </div>
            </div>
            </div>
            <!-- Card -->
          </div>
        </div>
          <!-- column -->
          <!-- column -->
          
          <!-- column -->
        </div>
        <!-- Row -->
      </div>
    </div>
    <!-- End Row -->
    <!-- Row -->
    <div class="row">
      <div class="col-12 m-t-30">
        <h4 class="m-b-0">Treinamento</h4>
        <p class="text-muted m-t-0 font-12">You can quickly change the text alignment
          <code>.text-center .text-right</code>.</p>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Bonus de Defesa</h4>
              Defesa: {{treinamento.defesa}} <br>
              <div *ngIf="treinamento.defesa==0">Proximo nivel: +50</div>
              <div *ngIf="treinamento.defesa==0">LTC:0.00001</div>
              <div *ngIf="treinamento.defesa!=0">Proximo nivel: +{{treinamento.proximo_defesa}}</div>
              <div *ngIf="treinamento.defesa!=0">LTC: {{treinamento.defesa_valor}}</div><br>
              <a  class="btn btn-success" (click)="treinar(treinamento.defesa_valor, 1)">Treinar</a>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Bonus de ataque</h4>
              Ataque: {{treinamento.ataque}} <br>
              <div *ngIf="treinamento.ataque==0">Proximo nivel: +50</div>
              <div *ngIf="treinamento.ataque==0">LTC: 0.00001</div>
              <div *ngIf="treinamento.ataque!=0">Proximo nivel: +{{treinamento.proximo_ataque}}</div>
              <div *ngIf="treinamento.ataque!=0">LTC: {{treinamento.ataque_valor}}</div><br>
              <a class="btn btn-success" (click)="treinar(treinamento.ataque_valor, 2)">Treinar</a>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h4 class="card-title">Bonus de resistência</h4>
              Ataque: {{treinamento.resistencia}} <br>
              <div *ngIf="treinamento.resistencia==0">Proximo nivel: +50</div>
              <div *ngIf="treinamento.resistencia==0">LTC: 0.00001</div>
              <div *ngIf="treinamento.resistencia!=0">Proximo nivel: +{{treinamento.proximo_resistencia}}</div>
              <div *ngIf="treinamento.resistencia!=0">LTC: {{treinamento.resistencia_valor}}</div><br>
              <a class="btn btn-success" (click)="treinar(treinamento.resistencia_valor, 3)">Treinar</a>
            
          </div>
        </div>
      </div>
    </div>
    <!-- End Row -->
    
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <div class="right-sidebar">
      <div class="slimscrollright">
        <div class="rpanel-title"> Service Panel
          <span>
            <i class="ti-close right-side-toggle"></i>
          </span>
        </div>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li>
              <b>With Light sidebar</b>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="default" class="default-theme">1</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="green" class="green-theme">2</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="red" class="red-theme">3</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a>
            </li>
            <li class="d-block m-t-30">
              <b>With Dark sidebar</b>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a>
            </li>
          </ul>
          <ul class="m-t-20 chatonline">
            <li>
              <b>Chat option</b>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle">
                <span>Varun Dhavan
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle">
                <span>Genelia Deshmukh
                  <small class="text-warning">Away</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle">
                <span>Ritesh Deshmukh
                  <small class="text-danger">Busy</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle">
                <span>Arijit Sinh
                  <small class="text-muted">Offline</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle">
                <span>Govinda Star
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle">
                <span>John Abraham
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle">
                <span>Hritik Roshan
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle">
                <span>Pwandeep rajan
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer">
    © 2017 Material Pro Admin by wrappixel.com
  </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>







            <!-- rpesquisa jogador -->
            <ng-template #modalPesquisarJogadores let-c="close" let-d="dismiss">
                <div class="modal-header">
                        <h2 class="modal-title">Pesquisar Jogador</h2>
                        <button type="button" class="btn" (click)="c('Close click')">X</button>
          
                      </div>
                      <div *ngIf="mensagemError">
                      <ngb-alert [dismissible]="false">
                        <strong>{{mensagemError}}!</strong>
                      </ngb-alert>
                    </div>
                      <div class="list-players-wrap" style="margin: 0 auto;">
                      <div class="content2">
                        <div class="plantel" style="background-image: url('/assets/images/cards/supremo.png');" *ngFor="let card of cards">
                            <img src="assets/images/cards/jogadores/{{card.id}}.png">
                            DEF: {{card.defesa}}<br>
                            ATK: {{card.ataque}}<br>
                            RES: {{card.resistencia}}<br>
                            <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                            <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                            <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                            <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                            <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                            <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
                            <div class="info">
                            {{card.nome}}<br>
                            LTC: <font color="green">{{card.valor}}</font><br>
                            <button class="btn btn-success" *ngIf="plantel.length<22" (click)="comprar(card); m">Comprar</button>
                        </div>
                        </div>
                      </div>
                    </div>
    
          </ng-template>



                      <!-- escalar jogador -->
                      <ng-template #modalescalacao let-c="close" let-d="dismiss">
                            <div class="modal-header">
                                    <h2 class="modal-title">Plantel</h2>
                                    <button type="button" class="btn " (click)="c('Close click')">X</button>
                      
                                  </div>
                                  <div class="list-players-wrap" style="margin: 0 auto;">
                                  <div class="content2">
                                      <div *ngIf="mensagemError">
                                          <ngb-alert [dismissible]="false">
                                            <strong>{{mensagemError}}!</strong>
                                          </ngb-alert>
                                        </div>
                                    <div class="plantel" style="background-image: url('/assets/images/cards/supremo.png');" *ngFor="let card of plantel">
                                        <img src="assets/images/cards/jogadores/{{card.id}}.png">
                                        DEF: {{card.defesa}}<br>
                                        ATK: {{card.ataque}}<br>
                                        RES: {{card.resistencia}}<br>
                                        <div class="posicao" *ngIf="card.posicao==1">Goleiro</div>
                                        <div class="posicao" *ngIf="card.posicao==2">Zagueiro</div>
                                        <div class="posicao" *ngIf="card.posicao==3">Lateral</div>
                                        <div class="posicao" *ngIf="card.posicao==4">Volante</div>
                                        <div class="posicao" *ngIf="card.posicao==5">Meio Campo</div>
                                        <div class="posicao" *ngIf="card.posicao==6">Atacante</div>
                                        <div class="info">
                                        {{card.nome}}<br>
                                        
                                        <button  *ngIf="card.estado==0" class="btn btn-success" (click)="escalar(card); mensagemError = ''">Escalar</button>
                          
                                        <button *ngIf="card.estado==1" class="btn btn-primary" (click)="removerEscalar(card)">Remover</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                
                      </ng-template>
            




          <ng-template #modalVenda let-c="close" let-d="dismiss">
            <div class="modal-header">
                    <h2 class="modal-title">Vender Jogador</h2>
      
                  </div>
                  <div class="info" style="text-align: center;">
                      <h3>Deseja realmente vender o jogador {{venda.nome}}?</h3>
                  </div>

                 
            <div class="modal-footer">
                    <button type="button" class="btn" (click)="c('Close click')">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="vender(venda); c('Close click')">Vender</button>
            </div>



      </ng-template>