

<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <app-saldo></app-saldo>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">

        <div class="card">
             <button  class="btn-lg btn-primary" (click)="openModal(saque);">Novo Saque</button>
        </div>
       
    </div>


    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Saques</h4>
                    <h6 class="card-subtitle">Só é permitido sacar duas vezes o valor que foi depositado</h6>
                    <div class="row m-t-40">
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-inverse card-info">
                                <div class="box bg-info text-center">
                                    <h1 class="font-light text-white">{{count.total}}</h1>
                                    <h6 class="text-white">Total</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                          <div class="card card-primary card-inverse">
                              <div class="box text-center">
                                  <h1 class="font-light text-white">{{count.aceitos}}</h1>
                                  <h6 class="text-white">Aceitos</h6>
                              </div>
                          </div>
                      </div>
                      <!-- Column --><!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                          <div class="card card-danger card-inverse">
                              <div class="box text-center">
                                  <h1 class="font-light text-white">{{count.rejeitados}}</h1>
                                  <h6 class="text-white">Rejeitados</h6>
                              </div>
                          </div>
                      </div>
                      <!-- Column -->
                        <div class="col-md-6 col-lg-3 col-xlg-3">
                            <div class="card card-inverse card-dark">
                                <div class="box text-center">
                                    <h1 class="font-light text-white">{{count.pendentes}}</h1>
                                    <h6 class="text-white">Pendentes</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Valor</th>
                                    <th>Data da solicitação</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of saquesabertos">
                                    <td>{{item.id}}</td>
                                    <td>{{item.valor_saque}}</td>
                                    <td>{{item.data | date:'d/M/yyyy'}}</td>
                                    <td>
                                        <button type="button" (click)="OpenModalDel(deleteticket, item)" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
            
                            </tbody>
 
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>



<ng-template #saque let-c="close" let-d="dismiss">
    <div class="modal-header">
            <h2 class="modal-title">Saque</h2>
    </div>


<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4>Limite de saque disponivel: {{limite.limite}}</h4>
                    <div *ngIf="mensagem">
                            <ngb-alert [dismissible]="false">
                                    <strong>{{mensagem}}!</strong> 
                            </ngb-alert>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Valor*</label>
                        <div class="input-group">
                            <input type="text" [(ngModel)]="dadossaque.valor" name="valor" class="form-control" id="exampleInputuname" placeholder="Exemplo: 1.36">
                        </div>
                    </div>
                 
                    
            </div>
        </div>
    </div>
    
  </div>
  <!-- Row -->
  <div class="modal-footer">
    <button type="button" class="btn" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="enviar()">Solicitar</button>
</div>


</ng-template>




<ng-template #deleteticket let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h2 class="modal-title">Confimar exclusão</h2>
        </div>
    
    
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3>Deseja realmente excluir o pedido de saque?</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
            <button type="button" class="btn" (click)="c('Close click')">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="deleteSaqueID(); c('Close click')">Confirmar</button>
        </div>
        
</ng-template>