<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Notícias</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="javascript:void(0)">Home</a>
          </li>
          <li class="breadcrumb-item active">notícias</li>
        </ol>
      </div>
      <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0">
                <small>THIS MONTH</small>
              </h6>
              <h4 class="m-t-0 text-info">$58,356</h4>
            </div>
            <div class="spark-chart">
              <div id="monthchart"></div>
            </div>
          </div>
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0">
                <small>LAST MONTH</small>
              </h6>
              <h4 class="m-t-0 text-primary">$48,356</h4>
            </div>
            <div class="spark-chart">
              <div id="lastmonthchart"></div>
            </div>
          </div>
          <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10">
              <i class="ti-settings text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    
    <div class="row m-t-40">
      <div class="col-md-12">
        <h4 class="card-title">Notícias recentes</h4>
        <h6 class="card-subtitle m-b-20 text-muted">Acompanhe as movimentações que ocorre no mundo da bola</h6>
      </div>
    </div>
    <div class="card-columns el-element-overlay">
      <div *ngFor="let item of news"  class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <img src="{{item.img}}" alt="user" />
          </div>
          <div class="el-card-content">
            <h3 class="box-title">{{item.titulo}}</h3>
            <small>{{item.descricao}}</small>
            <br/> </div>
        </div>
      </div>
      
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>