
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <app-saldo></app-saldo>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->


          <!-- ====================== row============================== -->  
          <div class="row" *ngIf="jogo">
              <div class="col-12">
                  <div class="card">
                      <div class="card-body">
                        <h2>Jogo</h2>
                        <div *ngIf="estado==0">
                                <ngb-alert [dismissible]="false">
                                        <strong>O Jogo acabou!</strong> 
                                </ngb-alert>
                        </div>
                          <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                              <thead>
                                  <tr>
                                      <th>Time</th>
                                      <th></th>
                                      <th></th>
                                      <th></th>
                                      <th>Time</th>
                                      <th>tempo</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>{{jogo.time}}</td>
                                      <td>{{jogo.gol_time_a}}</td>
                                      <td>X</td>
                                      <td>{{jogo.gol_time_b}}</td>
                                      <td>{{jogo.adversario}}</td>
                                      <td>0:{{tempo}}</td>    
                                  </tr>
              
                              </tbody>
          
                          </table>
                      </div>
                  </div>
              </div>
            </div>
            <!-- ====================== END row============================== -->  
      
      <!-- ====================== row============================== -->  
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h2>Times</h2>
              <div *ngFor="let p of time">
                  <ngb-alert [dismissible]="false" *ngIf="p.status==0">
                    <strong>Você não tem jogadores suficientes para participar dos desafios</strong>
                  </ngb-alert>
              </div>
                <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                  
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Nivel</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of times">
                            <td>{{item.nome}}</td>
                            <td>{{item.nivel}}</td>

                            <td>
                                <div *ngIf="estado==0">
                                <button type="button"  (click)="desafiar(item)" class="btn btn-danger" data-toggle="tooltip" *ngIf="time[0].status==1" >Desafiar</button>
                                </div>
                                <div *ngIf="estado==1">
                                        <button type="button" disabled (click)="desafiar(item)" class="btn btn-danger" data-toggle="tooltip" *ngIf="time[0].status==1" >Seu time está em campo, aguarde...</button>
                                </div> 
                                
                                <button type="button" [routerLink]="['/elenco']" class="btn btn-primary" data-toggle="tooltip" *ngIf="time[0].status==0">Escalar Jogador</button>
                            </td>
                        </tr>
    
                    </tbody>

                </table>
            </div>
        </div>
    </div>
  </div>
  <!-- ====================== END row============================== -->
  
        <!-- ====================== row============================== -->  
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                      <h2>Ultimos jogos</h2>
                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                            <thead>
                                <tr>
                                    <th>Time A</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Time B</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of partidas">
                                    <td>{{item.time_a}}</td>
                                    <td>{{item.gol_time_a}}</td>
                                    <td>X</td>
                                    <td>{{item.gol_time_b}}</td>
                                    <td>{{item.time_b}}</td>   
                                </tr>
            
                            </tbody>
        
                        </table>
                    </div>
                </div>
            </div>
          </div>
          <!-- ====================== END row============================== -->  




  </div>
  
  </div>