<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
       
      </div>
      <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0">
                <small>Saldo Litecoin</small>
              </h6>
              <h4 class="m-t-0 text-info">$58,356</h4>
            </div>
            <div class="spark-chart">
              <div id="monthchart"></div>
            </div>
          </div>
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0">
                <small>Valor de mercado</small>
              </h6>
              <h4 class="m-t-0 text-primary">$48,356</h4>
            </div>
            <div class="spark-chart">
              <div id="lastmonthchart"></div>
            </div>
          </div>
          <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10">
              <i class="ti-settings text-white"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
      <!-- Column -->
      <div class="col-md-6 col-lg-3">
        <div class="card card-body">
          <!-- Row -->
          <div class="row">
            <!-- Column -->
            <div class="col p-r-0 align-self-center">
              <h2 class="font-light m-b-0">324</h2>
              <h6 class="text-muted">New Clients</h6>
            </div>
            <!-- Column -->
            <div class="col text-right align-self-center">
              <div data-label="20%" class="css-bar m-b-0 css-bar-info css-bar-20"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3">
        <div class="card card-body">
          <!-- Row -->
          <div class="row">
            <!-- Column -->
            <div class="col p-r-0 align-self-center">
              <h2 class="font-light m-b-0">2376</h2>
              <h6 class="text-muted">Total Visits</h6>
            </div>
            <!-- Column -->
            <div class="col text-right align-self-center">
              <div data-label="30%" class="css-bar m-b-0 css-bar-success css-bar-20"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3">
        <div class="card card-body">
          <!-- Row -->
          <div class="row">
            <!-- Column -->
            <div class="col p-r-0 align-self-center">
              <h2 class="font-light m-b-0">1795</h2>
              <h6 class="text-muted">New Leads</h6>
            </div>
            <!-- Column -->
            <div class="col text-right ">
              <div data-label="40%" class="css-bar m-b-0 css-bar-primary css-bar-40"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Column -->
      <div class="col-md-6 col-lg-3">
        <div class="card card-body">
          <!-- Row -->
          <div class="row">
            <!-- Column -->
            <div class="col p-r-0 align-self-center">
              <h2 class="font-light m-b-0">36870</h2>
              <h6 class="text-muted">Page Views</h6>
            </div>
            <!-- Column -->
            <div class="col text-right align-self-center">
              <div data-label="60%" class="css-bar m-b-0 css-bar-danger css-bar-60"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
    <!-- Row -->
    
    <!-- Row -->
    <!-- Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <select class="custom-select pull-right">
              <option selected>January</option>
              <option value="1">February</option>
              <option value="2">March</option>
              <option value="3">April</option>
            </select>
            <h4 class="card-title">Ranking</h4>
            <div class="table-responsive m-t-20">
              <table class="table stylish-table">
                <thead>
                  <tr>
                    <th colspan="2">Time</th>
                   
                    <th>Classificação</th>
                    
                    <th>Pontos</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr class="active">
                    <td>
                      <span class="round">
                        <img src="../assets/images/users/2.jpg" alt="user" width="50" />
                      </span>
                    </td>
                    <td>
                      <h6>Andrew</h6>
                      <small class="text-muted">Project Manager</small>
                    </td>
                    
                    <td>
                      <span class="label label-info">Medium</span>
                    </td>
                    <td>$23.9K</td>
              
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- Row -->
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <!-- card -->
        <div class="card card-inverse card-primary">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white">
                  <i class="ti-pie-chart"></i>
                </h1>
              </div>
              <div>
                <h3 class="card-title">Bandwidth usage</h3>
                <h6 class="card-subtitle">March 2017</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4 align-self-center">
                <h2 class="font-light text-white">50 GB</h2>
              </div>
              <div class="col-8 p-t-10 p-b-20 align-self-center">
                <div class="usage chartist-chart" style="height:60px"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="card card-inverse card-success">
          <div class="card-body">
            <div class="d-flex">
              <div class="m-r-20 align-self-center">
                <h1 class="text-white">
                  <i class="icon-cloud-download"></i>
                </h1>
              </div>
              <div>
                <h3 class="card-title">Download count</h3>
                <h6 class="card-subtitle">March 2017</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4 align-self-center">
                <h2 class="font-light text-white">35487</h2>
              </div>
              <div class="col-8 p-t-10 p-b-20 text-right">
                <div class="spark-count" style="height:60px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Notificações</h4>
            <ul class="feeds">
              <li>
                <div class="bg-info">
                  <i class="fa fa-bell-o text-white"></i>
                </div> Você recebeu seu pagamento
                <span class="text-muted">Detalhes</span>
              </li>
              <li>
                <div class="bg-info">
                  <i class="fa fa-bell-o text-white"></i>
                </div> Temos uma mensagem para você
                <span class="text-muted">Detalhes</span>
              </li>
              <li>
                <div class="bg-info">
                  <i class="fa fa-bell-o text-white"></i>
                </div> Parabéns, você venceu
                <span class="text-muted">Detalhes</span>
              </li>
              <li>
                <div class="bg-info">
                  <i class="fa fa-bell-o text-white"></i>
                </div> Temos uma mensagem para você
                <span class="text-muted">Detalhes</span>
              </li>
              <li>
                <div class="bg-info">
                  <i class="fa fa-bell-o text-white"></i>
                </div> Parabéns, você venceu
                <span class="text-muted">Detalhes</span>
              </li>
              
            </ul>
          </div>
        </div>
        
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body bg-info">
            <h4 class="text-white card-title">My Contacts</h4>
            <h6 class="card-subtitle text-white m-b-0 op-5">Checkout my contacts here</h6>
          </div>
          <div class="card-body">
            <div class="message-box contact-box">
              <h2 class="add-ct-btn">
                <button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button>
              </h2>
              <div class="message-widget contact-widget">
                <!-- Message -->
                <a href="#">
                  <div class="user-img">
                    <img src="../assets/images/users/1.jpg" alt="user" class="img-circle">
                    <span class="profile-status online pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Pavan kumar</h5>
                    <span class="mail-desc">info@wrappixel.com</span>
                  </div>
                </a>
                <!-- Message -->
                <a href="#">
                  <div class="user-img">
                    <img src="../assets/images/users/2.jpg" alt="user" class="img-circle">
                    <span class="profile-status busy pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Sonu Nigam</h5>
                    <span class="mail-desc">pamela1987@gmail.com</span>
                  </div>
                </a>
                <!-- Message -->
                <a href="#">
                  <div class="user-img">
                    <span class="round">A</span>
                    <span class="profile-status away pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Arijit Sinh</h5>
                    <span class="mail-desc">cruise1298.fiplip@gmail.com</span>
                  </div>
                </a>
                <!-- Message -->
                <a href="#">
                  <div class="user-img">
                    <img src="../assets/images/users/4.jpg" alt="user" class="img-circle">
                    <span class="profile-status offline pull-right"></span>
                  </div>
                  <div class="mail-contnet">
                    <h5>Pavan kumar</h5>
                    <span class="mail-desc">kat@gmail.com</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
   
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <div class="right-sidebar">
      <div class="slimscrollright">
        <div class="rpanel-title"> Service Panel
          <span>
            <i class="ti-close right-side-toggle"></i>
          </span>
        </div>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li>
              <b>With Light sidebar</b>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="default" class="default-theme">1</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="green" class="green-theme">2</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="red" class="red-theme">3</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a>
            </li>
            <li class="d-block m-t-30">
              <b>With Dark sidebar</b>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a>
            </li>
            <li>
              <a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a>
            </li>
          </ul>
          <ul class="m-t-20 chatonline">
            <li>
              <b>Chat option</b>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle">
                <span>Varun Dhavan
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle">
                <span>Genelia Deshmukh
                  <small class="text-warning">Away</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle">
                <span>Ritesh Deshmukh
                  <small class="text-danger">Busy</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle">
                <span>Arijit Sinh
                  <small class="text-muted">Offline</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle">
                <span>Govinda Star
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle">
                <span>John Abraham
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle">
                <span>Hritik Roshan
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle">
                <span>Pwandeep rajan
                  <small class="text-success">online</small>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <footer class="footer"> © 2017 Material Pro Admin by wrappixel.com </footer>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>